testing.py
usersettings.ini
__pycache__/
task.db
session.db
testingpomo.py
testingsession.py
autocompleteentry.py
build/
dist/
timerapp.spec
productivitytime.zip
ProductivityTime.exe
new.py
WHATISTHISBUG.py
