testing.py
usersettings.ini
__pycache__/
*.db
testingpomo.py
testingsession.py
autocompleteentry.py
*.spec
build/
dist/
timerapp.spec
productivitytime.zip
ProductivityTime.exe
new.py
WHATISTHISBUG.py
Labo.ttf
